   
footer 
    display: grid
    grid-template-columns: 1fr 200px 200px 1fr
    grid-template-rows: 60px
    background: Color-variacion
    color: Color-oscuro2
    width: 100%

.github
    height 30px

.autor
    grid-column: 2 / span 1
    grid-row: 1 / span 1
    align-self: center
    color: Color-oscuro2
.rrss
    display: grid
    grid-auto-flow: column
    grid-column: 3 / span 1
    grid-row: 1 / span 1
    list-style none
.credito
    grid-column: 2 / span 2
    grid-row: 2 / span 1
    font-size: smaller


