.popup
    position: fixed
    top: 0 
    left: 0
    height: 100vh
    width: 100vw
    background: #f4f4f4
    opacity: 0.95
    display: flex
    justify-content: center
    align-items: center    

.card-popup
    display: grid
    max-width: 300px
    justify-items: center

.card-image-popup
    border: 2px solid Color-oscuro2
    border-radius: 100px
    margin-bottom: 10px
    box-shadow: 0 0 10px

.card-subtitle-modal
    font-weight: 600
    text-transform: uppercase
    margin-top: 0

#closeBtn
    position: absolute
    top: 5%
    right: 5%    

#botoncito
    max-width: 300px

