@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rancho&display=swap')

Fuente-titulos = 'Rancho', cursive;
Fuente-subtitulos = 'Boogaloo', cursive;
Fuente-cuerpo = 'Lato', sans-serif;
Color-oscuro1 = #00000;
Color-oscuro2 = #14213D;
Color-claro1 = #FFFFFF;
Color-claro2 =  #E5E5E5;
Color-variacion = #FCA311;